body{
    background-color: #ffff;
}
h1{
    color: rgb(17, 129, 226);
}
h3{
    color: rgb(27, 96, 234);
}
/*27.03.2023*/
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 9%;
}
img{
    width: 160px;
    height: 160px;
    background-color: rgb(25, 231, 111);
    border-radius: 100%;
}
/*-----------------img hover: not used----------skills-------------------------------*/

/*---------------intermediate css---------------------------------*/
body{
    margin: 0;

}
h1{
    margin-top: 0;
}
div.headd{
    background-color: #FFFFD0;
    height: 150px;
    padding: 50px;
    padding-top: 80px;
    padding-left: 760px;
    
}
div.about{
    background-color: #FFFFD0;
    height: 250px;
    padding: 50px;
    padding-top: 40px;
    padding-left: 460px;
    padding-right: 300px;
}
div.bottom{
    background-color: #FFFFD0;
    padding: 50px;
    padding-top: 40px;
    padding-left: 760px;
}
div.Book{
    padding: 20px;
    padding-top: 20px;
    padding-left: 760px;
    padding-bottom: 60px;
}
div.skills{
    padding: 50px;
    padding-top: 40px;
    padding-left: 750px;
}
h3{
    padding-left: 40px;
}