body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    
}

h1{
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
/*----------------------------------------top------------------------------------------------------------------------------------------*/
.top-container{
    background-color: #BDF2D5;
    position: relative;
    padding-top: 100px;
    font-family: verdana,sans-serif;

}
/*---------------------------------------------top2-------------------------------------------------------------------------------------*/


.top2-container{
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;

}
/*------------------------------------mid----------------------------------------------------------------------------------------------*/


.mid-container{
    position: relative;
    background-color: #BDF2D5;
    padding: 100px;

}
/*-------------------------------------------------bottom---------------------------------------------------------------------------------*/


.bottom-container{
    position: relative;
    background-color:#FAEDF0;
    padding: 50px;

}
/*---------------------------------------------------cloud------------------------------------------------------------------------------*/


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/
.profile{
    border-radius: 100%;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 120px;
    bottom: 120px;
}
.about-content{
    
    padding: 50px;
    padding-left: 270px;
    margin: 0;
}
    

